{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    ImpactaZoid<br />
    Rua do Código, 1010<br />
    <abbr title="Telefone">Tel:</abbr>
    91010-1010
</address>

<address>
    <strong>Felipe Colodiano:</strong>   <a href="mailto:felipe.colodiano@aluno.faculdadeimpacta.com.br">felipe.colodiano@aluno.faculdadeimpacta.com.br</a><br />
    <strong>Carlos Roberto</strong> <a href="carlos.videira@aluno.faculdadeimpacta.com.br">carlos.videira@aluno.faculdadeimpacta.com.br</a>
    <strong>Eder Moura</strong> <a href="eder.silvaa@aluno.faculdadeimpacta.com.br">eder.silva@aluno.faculdadeimpacta.com.br</a>
    <strong>Claudinei de Sousa</strong> <a href="claudinei.santos@aluno.faculdadeimpacta.com.br">claudinei.santos@aluno.faculdadeimpacta.com.br</a>
</address>

{% endblock %}
